<!-- 
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>
<arg name="use_sim_time" value="true"/>



        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find steer_wheel_bot_navigation)/cfg/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find steer_wheel_bot_navigation)/cfg/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find steer_wheel_bot_navigation)/cfg/carlike/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find steer_wheel_bot_navigation)/cfg/carlike/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find steer_wheel_bot_navigation)/cfg/carlike/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />  -->
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />
<remap from="cmd_vel" to="/mobile_mover/ackermann_steering_controller/cmd_vel"/>
                <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
	</node>


	<!--  ****** Maps *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find steer_wheel_bot_navigation)/maps/4x7.yaml" output="screen">
                <param name="frame_id" value="map"/>
	</node>

	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find steer_wheel_bot_navigation)/cfg/amcl_params.yaml" command="load" />

	        <param name="initial_pose_x"            value="0"/>
		<param name="initial_pose_y"            value="0"/>
		<param name="initial_pose_a"            value="0"/>
	</node>

	  <!--  **************** Visualisation ****************  -->
<arg default="$(find steer_wheel_bot_description)/urdf/mobile_mover.xacro" name="model"/>
  <arg default="true" name="gui"/>
  <arg default="$(find steer_wheel_bot_rviz)/rviz/urdf.rviz" name="rvizconfig"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->
	  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find steer_wheel_bot_navigation)/cfg/rviz_navigation.rviz"/>

</launch>
