<launch>
 <node pkg="tf" type="static_transform_publisher" name="robot_link_to_laser"
    args="0.0 0.0 0.0 3.141592 0.0 0.0 rplidar_1 laser 100" />
<node pkg="tf" type="static_transform_publisher" name="robot_link_to_camera"
    args="0.0 0.0 0.0 0.0 0.0 0.0 t265_1 camera_link 100" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_camera_odom"
    args="0.0 0.0 0.0 0.0 0.0 0.0 odom  camera_odom_frame 100" /> -->
<node pkg="tf" type="static_transform_publisher" name="camera_to_base"
    args="0.0 0.0 0.0 0.0 0.0 0.0 camera_pose_frame base_link 100" />
	 <node pkg="tf" type="static_transform_publisher" name="map_odom"
    args="0.0 0.0 0.0 0.0 0.0 0.0 map  camera_odom_frame 100" />
  <arg default="$(find steer_wheel_bot_description)/urdf/mobile_mover.xacro" name="model"/>
  <arg default="true" name="gui"/>
  <arg default="$(find steer_wheel_bot_rviz)/rviz/urdf.rviz" name="rvizconfig"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
</launch>